.column {
    display: flex;
    flex-direction: column;
}

.ma-xs {
    margin: 0.5rem;
}

.ma-sm {
    margin: 1rem;
}

.ma-md {
    margin: 1.5rem;
}

.ma-lg {
    margin: 2rem;
}

.ma-xl {
    margin: 2.5rem;
}

.mb-xs {
    margin-bottom: 0.5rem;
}

.mb-sm {
    margin-bottom: 1rem;
}

.mb-md {
    margin-bottom: 1.5rem;
}

.mb-lg {
    margin-bottom: 2rem;
}

.mb-xl {
    margin-bottom: 2.5rem;
}

.mt-xs {
    margin-top: 0.5rem;
}

.mt-sm {
    margin-top: 1rem;
}

.mt-md {
    margin-top: 1.5rem;
}

.mt-lg {
    margin-top: 2rem;
}

.mt-xl {
    margin-top: 2.5rem;
}

.mr-xs {
    margin-right: 0.5rem;
}

.mr-sm {
    margin-right: 1rem;
}

.mr-md {
    margin-right: 1.5rem;
}

.mr-lg {
    margin-right: 2rem;
}

.mr-xl {
    margin-right: 2.5rem;
}

.ml-xs {
    margin-left: 0.5rem;
}

.ml-sm {
    margin-left: 1rem;
}

.ml-md {
    margin-left: 1.5rem;
}

.ml-lg {
    margin-left: 2rem;
}

.ml-xl {
    margin-left: 2.5rem;
}

.mx-xs {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mx-sm {
    margin-left: 1rem;
    margin-right: 1rem;
}

.mx-md {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.mx-lg {
    margin-left: 2rem;
    margin-right: 2rem;
}

.mx-xl {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.my-xs {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-sm {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-md {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.my-lg {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-xl {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.justify-start {
    justify-content: flex-start;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-evenly {
    justify-content: space-evenly;
}